.player-card {
/*  width: 100%;
  height: 200px;*/
  background: #F6F6F6;
  position: relative;
  display: block;
  vertical-align: top;
  box-shadow: 0 0 4px rgba(0,0,0,.3);
  margin: 1rem 0.5rem;
}
.player-card--image {
  height: 100%;
}
.player-card--image:before {
  content: '';
  display: block;
  padding-top: 100%;
}

#plcontainer {
    display: inline-block;
    position: relative;
    width: 100%;
}
#pldummy {
    margin-top: 30%;
}
#plelement {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 70%;
  width: 30%;
  background-color: #F6F6F6;
  background-position: center;
  background-size: cover;
}
#plui {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30%;
    width: 70%;
    background-color: #F9F9F9;
}
